<form action="" method="post">
    <fieldset>
        <label>username: </label><input type="text" name="username" />
    </fieldset>
    <fieldset>
        <label>hasło: </label><input type="text" name="password" />
    </fieldset>
    <fieldset>
        <label>powtórz hasło: </label><input type="text" name="retype_password" />
    </fieldset>
    <fieldset>
        <label>email: </label><input type="text" name="email" />
    </fieldset>
    <fieldset>
        <input type="submit" value="Zarejestruj się" />
    </fieldset>
</form>